---
layout: page
# The Home page layout
---

  <section class="hero">
    <div class="hero-image" style="background-image: url('assets/img/hero_cat.jpg')">
      <div class="hero-text">
        <h1></h1>
      </div>
    </div>
  </section>
  
  <section class="main-content">
    <div class="container">
      <h1>Welcome</h1>  

      <p>This site is still under construction and may take a bit for me to finish. Right now I only have one HTB writeup ready, but there should be many more coming soon!</p>
    </div>
  </section>